* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  /* sizes units in px  */

  --size-xs: 2px;
  --size-sm: 4px;
  --size-md: 8px;
  --size-lg: 16px;
  --size-xl: 24px;
  --size-xxl: 32px;

  /* colrs variables */
  --bg-primary-color: #2a2727;
  --bg-secondary-color: #626262;
  --bg-task-color: #201820;
  --text-color: #f3f3f3;
  --delete-btn: rgb(193, 43, 43);

  /* font family  */
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: var(--size-lg);
  background-color: var(--bg-primary-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  gap: var(--size-xl);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: var(--size-xl);
}

.add-task button {
  background-color: var(--bg-secondary-color);
  color: var(--text-color);
  padding: var(--size-md);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border: none;
  outline: none;
}

.add-task button:active {
  scale: 0.9;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--size-md);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: var(--size-xl);
}

.col {
  background-color: var(--bg-secondary-color);
  width: 30%;
  height: 38rem;
  border-radius: var(--size-md);
  padding: var(--size-lg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--size-lg);
  overflow: auto;
}

.col-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--size-xl);
}

.task {
  background-color: var(--bg-task-color);
  border-radius: var(--size-md);
  padding: var(--size-lg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--size-lg);
  cursor: -webkit-grab;
  cursor: grab;
}

.task-heading {
  font-size: var(--size-lg);
  font-weight: 700;
}

.delete button {
  background-color: var(--delete-btn);
  border: none;
  padding: var(--size-sm);
  border-radius: var(--size-sm);
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.delete button:active {
  scale: 0.9;
}

.delete {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: all 0.9s ease-in;
  -o-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
}

.highlight {
  scale: 1.1;
  border: 5px dotted var(--text-color);
}

.modal {
  position: fixed; /* VERY IMPORTANT */
  inset: 0; /* same as top:0 left:0 right:0 bottom:0 */
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
}

/* Background overlay with blur */
.modal-bg {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

/* Modal Box */
.modal-box {
  position: relative;
  background: var(--bg-secondary-color);
  padding: var(--size-xxl);
  border-radius: var(--size-md);
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--size-lg);
  z-index: 10;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  -webkit-animation: popUp 0.25s ease;
  animation: popUp 0.25s ease;
}

/* Inputs */
.modal-task,
.modal-desc {
  background: var(--bg-task-color);
  padding: var(--size-md);
  border-radius: var(--size-sm);
}

.modal-task input,
.modal-desc textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-family: var(--primary-font);
}

/* Add Task Button */
.modal-btn {
  background: var(--bg-primary-color);
  padding: var(--size-md);
  text-align: center;
  border-radius: var(--size-sm);
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.modal-btn:active {
  scale: 0.95;
}

/* Small pop animation */
@-webkit-keyframes popUp {
  from {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popUp {
  from {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
